---
import Layout from '@/layouts/AdminLayout.astro';
import { v2 as cloudinary } from "cloudinary";

import { Image } from 'astro:assets';
import EditIcon from '@/icons/admin/edit.astro';
import TrashIcon from '@/icons/admin/trash.astro';

// Configurar Cloudinary
cloudinary.config({
	api_key: import.meta.env.CLOUDINARY_API_KEY,
	api_secret: import.meta.env.CLOUDINARY_API_SECRET,
	cloud_name: import.meta.env.CLOUDINARY_CLOUD_NAME,
});

const listFolder = async (folderPath) => {
  const apiUrl = `https://api.cloudinary.com/v1_1/${cloudinary.config().cloud_name}/resources/image/upload?prefix=${folderPath}`;

  const auth = Buffer.from(`${cloudinary.config().api_key}:${cloudinary.config().api_secret}`).toString('base64');

  try {
    const response = await fetch(apiUrl, {
      headers: {
        Authorization: `Basic ${auth}`,
      },
    });

    if (!response.ok) {
      throw new Error(`Error al listar la carpeta: ${response.statusText}`);
    }

    const data = await response.json();
    return data.resources;
  } catch (error) {
    console.error('Error al listar la carpeta:', error);
    throw error;
  }
};


// Listar archivos en la carpeta 'toldoperfil'
const enterpriseFolderPath = 'toldoperfil/enterprise';
let enterpriseFolderFiles = [];

try {
	enterpriseFolderFiles = await listFolder(enterpriseFolderPath);
	console.log('enterpriseFolderFiles');
	console.log(enterpriseFolderFiles);
  console.log('Archivos en la carpeta:', enterpriseFolderFiles);
} catch (error) {
  console.error('Error al listar archivos:', error);
}


const customersFolderPath = 'toldoperfil/privatecustomers';
let customersFolderFiles = [];

try {
	customersFolderFiles = await listFolder(customersFolderPath);
	console.log('customersFolderFiles');
	console.log(customersFolderFiles);
  console.log('Archivos en la carpeta:', customersFolderFiles);
} catch (error) {
  console.error('Error al listar archivos:', error);
}
---

<Layout
description="Toldo Perfil: Especialistas en toldos personalizados de alta calidad. Desde toldos retráctiles para terrazas hasta pérgolas elegantes para jardines, ofrecemos soluciones adaptadas a tus necesidades. ¡Transforma tu espacio al aire libre con estilo y protección con Toldo Perfil!"
title="Toldo Perfil - Administracion"
canonical="https://toldoperfil.es"
>
	<header class="font-sans border-b px-4 py-6">
		<h2 class="text-2xl sm:text-3xl text-white font-bold">Image Manager</h2>
	</header>
	<main class="font-sans grid grid-cols-3 gap-3">
		<figure class="flex flex-row gap-2 relative overflow-hidden rounded-lg p-3">
			<Image
				alt=`Imagen de {title}`
				src='/img/works/AlainAfflelou/AlainAfflelou01.webp'
				width="200"
				height="200"
				decoding="async"
				loading="lazy"
				class:list={[
					'object-cover rounded-lg'
				]}
			/>
			<figcaption class="py-0 px-2 w-full h-full flex flex-col justify-center sm:justify-start items-center sm:items-start bg-indigo-950 bg-opacity-50 text-white text-center sm:text-left">
				<div>
					<span class="text-indigo-200 text-xs">
						Title
					</span>
					<p class="text-[1.65rem] leading-9 tracking-wider font-bold uppercase">
						Alain Afflelou
					</p>
				</div>
				<div>
					<span class="text-indigo-200 text-xs">
						Category
					</span>
					<p class="text-[1rem] leading-9 tracking-wider font-bold">
						Enterprise
					</p>
				</div>
				<div>
					<span class="text-indigo-200 text-xs">
						Actions
					</span>
					<div class="flex flex-row gap-2 justify-center items-center">
						<EditIcon class:list={['cursor-pointer']}/>
						<TrashIcon class:list={['cursor-pointer']}/>
					</div>
				</div>
			</figcaption>
		</figure>

		<ul>
			{enterpriseFolderFiles.map(file => (
				<li key={file.public_id}>
					<img src={file.secure_url} alt="File in folder" width="200" />
				</li>
			))}
			{customersFolderFiles.map(file => (
				<li key={file.public_id}>
					<img src={file.secure_url} alt="File in folder" width="200" />
				</li>
			))}
		</ul>
	</main>
</Layout>